# 設定ファイル
.env

# プロジェクトディレクトリ
code/

  #--------------------
 # Mysql
#--------------------
#ログファイル
/.Docker/mysql/logs/
# 永続化するデータ
/.Docker/mysql/data/

  #--------------------
 # Postgres
#--------------------
#ログフォルダ
/.Docker/postgres/log
#データフォルダ
/.Docker/postgres/data

  #--------------------
 # Nginx
#--------------------
/.Docker/nginx/logs/

