# 設定ファイル
.env

# プロジェクトディレクトリ
src/

  #--------------------
 # Mysql
#--------------------
# 永続化するデータ
/.Docker/mysql/data/

  #--------------------
 # Postgres
#--------------------
#ログフォルダ
/.Docker/postgres/log
#データフォルダ
/.Docker/postgres/data

# ログ
Logs

