version: "3"

services:
  #php
  php:
    build:
      context: .Docker/php
      args:
        - PHP_VERSION=${PHP_VERSION}
        - TZ=${TZ}
    volumes:
      - ./code:/work
      - ./.Docker/php/logs:/var/log/php
      - ./.Docker/php/php.ini:/usr/local/etc/php/php.ini
    ports:
      - ${PHP_PORT}:9000
    working_dir: /work
    environment:
      - DB_CONNECTION=mysql
      - DB_HOST=${MYSQL_DB_HOST}
      - DB_DATABASE=${MYSQL_DB_NAME}
      - DB_USERNAME=${MYSQL_DB_USER}
      - DB_PASSWORD=${MYSQL_DB_USER_PASS}
      - DB_ROOT_PASSWORD=${MYSQL_DB_ROOT_PASS}
      - TZ=${TZ}

  #mysql
  mysql:
    build:
      context: .Docker/mysql
      args:
        - MYSQL_VERSION=${MYSQL_VERSION}
    volumes:
      - ./.Docker/mysql/data:/var/lib/mysql
      - ./.Docker/mysql/logs:/var/log/mysql
      - ./.Docker/mysql/my.cnf:/etc/mysql/conf.d/my.cnf
    ports:
      - ${MYSQL_PORT}:3306
    depends_on:
      - php
    environment:
      - MYSQL_DATABASE=${MYSQL_DB_NAME}
      - MYSQL_USER=${MYSQL_DB_USER}
      - MYSQL_PASSWORD=${MYSQL_DB_USER_PASS}
      - MYSQL_ROOT_PASSWORD=${MYSQL_DB_ROOT_PASS}
      - TZ=${TZ}

  #postgres
  postgres:
    build:
      context: .Docker/postgres
      args:
        - POSTGRES_VERSION=${POSTGRES_VERSION}
    ports:
      - ${POSTGRES_PORT}:5432
    depends_on:
      - php
    environment:
      - POSTGRES_DATABASE=${POSTGRES_DB_NAME}
      - POSTGRES_HOST=${POSTGRES_DB_HOST}
      - POSTGRES_USER=${POSTGRES_DB_USER}
      - POSTGRES_PASSWORD=${POSTGRES_DB_USER_PASS}
      - POSTGRES_ROOT_PASSWORD=${POSTGRES_DB_ROOT_PASS}
      - TZ=${TZ}

  #nginx
  nginx:
    build:
      context: .Docker/nginx
      args:
        - NGINX_VERSION=${NGINX_VERSION}
    ports:
      - ${NGINX_PORT}:80
    depends_on:
      - php
    volumes:
      - ./code:/work
      - ./.Docker/nginx/logs:/var/log/nginx
      - ./.Docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./.Docker/nginx/nginx.conf:/etc/nginx/nginx.conf
    environment:
      - TZ=${TZ}

  #apache
  apache:
    build:
      context: .Docker/apache
      args:
        - APACHE_VERSION=${APACHE_VERSION}
    ports:
      - ${APACHE_PORT}:80
    depends_on:
      - php
    volumes:
      - ./code:/work
      - ./.Docker/apache/logs:/var/log/apache
      - ./.Docker/apache/httpd.conf:/usr/local/apache2/conf/httpd.conf
      - ./.Docker/apache/index.html:/usr/local/apache2/htdocs/index.html

  # adminer
#  adminer:

  #mailhog
#  mailhog:

  #workspace
  #  workspace:

volumes:
  db-store: