[mysqld]
# サーバー側のmysql文字コード
character-set-server = utf8mb4
collation-server = utf8mb4_bin

# タイムゾーン
default-time-zone = SYSTEM
log_timestamps = SYSTEM

# MySQL8 caching_sha2_password to mysql_native_password
default-authentication-plugin = mysql_native_password

# エラーログ
log-error = /var/log/mysql/mysql-error.log

# Slow クエリログ
slow_query_log = 1
slow_query_log_file = /var/log/mysql/mysql-slow.log
long_query_time = 5.0
log_queries_not_using_indexes = 0

# 実行したクエリの全てのログ(デフォルトではOFF)
# (いつ、どのユーザーがどのホストから接続してきてどのようなクエリを実行したかなどの詳細なログ)
general_log = 1
general_log_file = /var/log/mysql/mysql-query.log

# バイナリログ
# log-bin = "/var/log/mysql/bin.log" #バイナリログのベース名
log-bin-index = "/var/log/mysql/bin" #バイナリログのファイル名を記録したindexファイル名
max_binlog_size = 1M
expire_logs_days = 1

[mysql]
default-character-set = utf8mb4

[client]
# クライアント側のmysql文字コード
default-character-set = utf8mb4